.delete-btn{
  text-align: center;
  cursor: pointer;
}
ul.todo-list li:nth-child(even){
  background-color: #EEE
}
ul.todo-list li div{
  display: inline-block;
}
ul.todo-list li input{
  height: 20px;
  width: 30px;
  text-align: center;
  margin-right: 10px;
}
ul.todo-list .delete-btn{
  width:30px;
  float: right;
}
